@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css
);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
	background: #fff;
	color: #3b3f45;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 590px;
}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #fff;
}

/* Top Navigation Style */
.top {
	margin-top: 1em;
	color: #999;
}

/* Main form wrapper */
.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
}

.overview .wrapper {
	height: auto;
}

/* Title */
header {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 40px;
	width: 100%;
	background: #3b3f45;
}

header h1 {
	margin: 0;
	vertical-align: middle;
}

/* Form */
.predict-form {
	position: relative;
	text-align: left;
	font-size: 2.5em;
}

.no-js .predict-form {
	padding: 0 0 6em 0;
}

/* Views (fullscreen and overview)*/
.form-complete {
	top: 32%;
	margin: 0 auto;
	width: 70%;
}

.form-complete,
.error-message {
	max-width: 960px;
}

.review-form {
	padding: 8em 30% 6em;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	color: #3b3f45;
	font-size: 1.2em;
}

.review-form .form-fields::before {
	display: block;
	margin-bottom: 1.5em;
	color: #3b3f45;
	content: 'Review & Submit';
	font-weight: 700;
	font-size: 1.85em;
}

/* Switch view animation (we hide the current view, switch the view class and show it again) */
.predict-form.show-field {
	-webkit-animation: animFadeIn 0.5s;
	animation: animFadeIn 0.5s;
}

@-webkit-keyframes animFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes animFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.predict-form.show-field .form-fields {
	-webkit-animation: animMove 0.5s;
	animation: animMove 0.5s;
}

@-webkit-keyframes animMove {
	from { top: 100px; }
}

@keyframes animMove {
	from { top: 100px; }
} /* we need to use top here because otherwise all our fixed elements will become absolute */

/* Visibility control of elements */
.form-complete .form-fields > li,
.nav-dots,
.progress-bar,
.numbers,
button.continue,
.error-message {
	visibility: hidden;
}

.no-js .form-complete .form-fields > li {
	visibility: visible;
}

.show-field {
	visibility: visible !important;
}

/* Some general styles */
.wrapper button {
	border: none;
	background: none;
}

.wrapper button[disabled] {
	opacity: 0.3;
	pointer-events: none;
}

.wrapper input:focus,
.wrapper button:focus {
	outline: none;
}

/* Hide the submit button */
.predict-form .submit-button {
	display: none;
}

/* Fields */
.form-fields {
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 0;
	list-style: none;
}

.form-fields > li {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	border: none;
}

.form-fields > li:hover {
	z-index: 999;
}

.js .form-complete .form-fields > li {
	position: absolute;
	width: 100%;
}

.review-form .form-fields > li,
.no-js .predict-form .form-fields > li {
	margin: 1em 0 2em;
	padding: 0 0 2em 0;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

/* Labels & info */
.form-fields > li label {
	position: relative;
}

.form-fields > li .field-label {
	display: inline-block;
	padding: 0 5px 1em 0;
	font-weight: 700;
	pointer-events: none;
}

.form-fields > li .result-label {
	display: inline-block;
	padding: 0 5px 1em 0;
	pointer-events: none;
	color: #ccc;
}

.form-complete .form-fields > li label[data-info]::after {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	width: 24px;
	height: 24px;
	border: 2px solid rgba(0,0,0,0.4);
	color: rgba(0,0,0,0.4);
	border-radius: 50%;
	content: 'i';
	vertical-align: top;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	font-size: 14px;
	font-family: Georgia, serif;
	line-height: 20px;
	cursor: pointer;
	pointer-events: auto;
}

.form-complete .form-fields > li label[data-info]::before {
    position: absolute;
    bottom: 100%;
   	left: 0;
    padding: 0 0 10px;
    min-width: 200px;
	content: attr(data-info);
	font-size: 0.4em;
	color: #6a7b7e;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
    pointer-events: none;
}

.form-complete .form-fields > li label[data-info]:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.form-complete .form-fields > li label:hover ~ .fs-info,
.form-complete .form-fields > li .fs-info:hover {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	pointer-events: auto;
}

/* Inputs */
.form-fields input {
	display: block;
	margin: 0;
	padding: 0 0 0.15em;
	width: 100%;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.2);
	background-color: transparent;
	color: #999;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 0;
}

.form-fields input:invalid {
	box-shadow: none; /* removes red shadow in FF*/
}

.review-form .form-fields input {
	border-bottom-color: transparent;
	color: rgba(0,0,0,0.5);
}

.form-fields input:focus {
	background-color: none; /* Fixes chrome bug with placeholder */
}

.review-form .form-fields input:focus {
	background-color: #fff; /* Fixes chrome bug with placeholder */
}

.review-form .form-fields input {
	font-size: 1.2em;
}

/* placeholder */
.form-fields input::-webkit-input-placeholder,
.form-fields textarea::-webkit-input-placeholder {
	color: rgba(0,0,0,0.1);
}

.form-fields input:-moz-placeholder,
.form-fields textarea:-moz-placeholder {
	color: rgba(0,0,0,0.1);
}

.form-fields input::-moz-placeholder,
.form-fields textarea::-moz-placeholder {
	color: rgba(0,0,0,0.1);
}

.form-fields input:-ms-input-placeholder,
.form-fields textarea:-ms-input-placeholder {
	color: rgba(0,0,0,0.1);
}

/* Hide placeholder when focused in Webkit browsers */
.form-fields input:focus::-webkit-input-placeholder {
	color: transparent;
}

/* Dot navigation */
.nav-dots {
	position: absolute;
	top: 50%;
	right: 60px;
	left: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-dots button {
	position: relative;
	display: block;
	padding: 0;
	margin: 16px 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-dots button::before,
.nav-dots button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	content: '';
	text-indent: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-dots button::after {
	background-color: rgba(0,0,0,0.4);
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
	transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

.nav-dots button:hover::before,
.nav-dots button.current-dot::before {
	background: #b01;
}

/* Progress bar */
.progress-bar {
	position: absolute;
	top: 0;
	width: 0%;
	height: 0.5em;
	background: #f90;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}

/* Number indicator */
.numbers {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	color: rgba(0,0,0,0.4);
	margin: 40px;
	width: 2em;
	font-weight: 700;
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: default;
}

.numbers:after {
	position: absolute;
	width: 100%;
	text-align: center;
	content: '/';
	font-weight: 300;
	opacity: 0.4;
	left: 0;
}

.numbers span {
	float: right;
	width: 40%;
	text-align: center;
}

.numbers .fs-number-current {
	float: left;
}

.numbers .fs-number-new {
	position: absolute;
	left: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

/* Animations for numbers */
/* Show next number */
.numbers.show-field-next .fs-number-new {
	-webkit-animation: animMoveUpFromDown 0.4s both;
	animation: animMoveUpFromDown 0.4s both;
}

@-webkit-keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.numbers.show-field-next .fs-number-current {
	-webkit-animation: animMoveUp 0.4s both;
	animation: animMoveUp 0.4s both;
}

@-webkit-keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); }
}

@keyframes animMoveUp {
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

/* Show previous number */
.numbers.show-field-prev .fs-number-new {
	-webkit-animation: animMoveDownFromUp 0.4s both;
	animation: animMoveDownFromUp 0.4s both;
}

@-webkit-keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes animMoveDownFromUp {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.numbers.show-field-prev .fs-number-current {
	-webkit-animation: animMoveDown 0.4s both;
	animation: animMoveDown 0.4s both;
}

@-webkit-keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); }
}

@keyframes animMoveDown {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

/* Continue button and submit button */
input.submit-button,
button.continue,
.again {
	padding: 0.6em 1.5em;
	border: 3px solid #232529;
	border-radius: 40px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
}

.review-form .submit-button,
.no-js .predict-form .submit-button  {
	display: block;
	float: right;
}

.review-form .submit-button {
	border-color: #232529;
	color: #232529;
}

button.continue {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 40px 60px 0;
	font-size: 1.25em;
}

.submit-button:hover,
.submit-button:focus,
.continue:hover,
.again:hover {
	background: #232529;
	color: #fff;
}

.continue::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	line-height: 3;
	text-align: center;
	background: transparent;
	color: rgba(0,0,0,0.3);
	content: 'or press ENTER';
	font-size: 0.65em;
	pointer-events: none;
}

/* Error message */
.error-message {
	position: absolute;
	bottom: 70%;
	left: 50%;
	z-index: 800;
	max-width: 960px;
	width: 70%;
	color: #eb7e7f;
	font-weight: 700;
	font-size: 1em;
	opacity: 0;
	-webkit-transform: translate3d(-50%,-5px,0);
	transform: translate3d(-50%,-5px,0);
}

.error-message.show-field {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(-50%,0,0);
	transform: translate3d(-50%,0,0);
}

/* Animation classes & animations */
.predict-form li.current {
	visibility: visible;
	color: #3b3f45;
}

.predict-form li.hide-field,
.predict-form li.show-field {
	pointer-events: none;
}

/* Hide current li when navigating to next question */
.predict-form .fs-display-next .hide-field {
	visibility: visible;
}

.predict-form .fs-display-next .hide-field .input-field,
.predict-form .fs-display-next .hide-field .bold-label {
	-webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.predict-form .fs-display-next .hide-field .input-field {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animHideNext {
	to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Show new li when navigating to next question */
.predict-form .fs-display-next .show-field .input-field,
.predict-form .fs-display-next .show-field .bold-label {
	-webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.predict-form .fs-display-next .show-field .input-field {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animShowNext {
	from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Hide current li when navigating to previous question */
.predict-form .fs-display-prev .hide-field {
	visibility: visible;
}

.predict-form .fs-display-prev .hide-field .input-field,
.predict-form .fs-display-prev .hide-field .bold-label {
	-webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.predict-form .fs-display-prev .hide-field .bold-label {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animHidePrev {
	to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.predict-form .fs-display-prev .show-field .input-field,
.predict-form .fs-display-prev .show-field .bold-label {
	-webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
	animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.predict-form .fs-display-prev .show-field .bold-label {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

@-webkit-keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animShowPrev {
	from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

/* Adjust form for smaller screens */
@media screen and (max-width: 52.5em) {
	body {
		min-height: 500px;
	}

	.wrapper {
		font-size: 70%;
	}

	.predict-form {
		top: 6em;
		right: 2em;
		left: 0;
		padding: 0 3.75em 0 1em;
		width: auto;
		font-size: 2em;
	}

	.predict-form.review-form {
		top: 6em;
		right: 0;
		padding: 1.5em 1em 8em 1em;
		font-size: 1.5em;
	}

	header {
		padding: 20px;
	}

	.numbers {
		margin: 20px;
	}

	.nav-dots {
		right: 25px;
	}

	button.continue {
		right: 20px;
		bottom: 20px;
		margin: 0;
		padding: 50px 0 0 50px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 2em;
	}

	button.continue::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '\27A1';
		text-align: center;
		font-size: 1em;
		line-height: 50px;
	}

	.continue::after {
		content: '';
	}

	.submit-button {
		width: 100%;
		font-size: 1.25em;
	}

	.error-message {
		bottom: 1.75em;
		left: 0;
		padding: 0 90px 0 2em;
		width: 100%;
		font-size: 1.5em;
		-webkit-transform: translate3d(0,-5px,0);
		transform: translate3d(0,-5px,0);
	}

	.error-message.show-field {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}
