<%= form_tag('/results', id: 'predictor', class: 'predict-form form-complete') do %>
  <ol class="form-fields">
    <li>
      <label class="field-label bold-label" for="name">Advisor's name:</label>
      <input class="input-field" id="name" name="name" type="text" placeholder="Peter Wong" required/>
    </li>
    <li>
      <label class="field-label bold-label" for="domain" data-info="No www-prefix, please">Advisor company domain:</label>
      <input class="input-field" id="domain" name="domain" type="text" placeholder="alphasights.com" required/>
    </li>
  </ol>
  <%= submit_tag 'Submit', class: 'submit-button' %>
<% end %>
